#edit_box_p{
    margin-top: 20px;
    text-align: center;
    height: 1000px;
    overflow: auto;
    font-family: "Itim", cursive !important;
}

#edit_box2_p{
    text-align: left;
}


.edit_label_p {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    height: 24px;
}

.edit_input_p {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 40px;
}


.edit_submit_p {
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
}

.like_input_p{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border:2px black solid;
    height: 40px;
}